.imagesWrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.leftColumn,
.rightColumn {
  width: 50%;
  background-color: transparent;
  box-sizing: border-box;
}

.leftColumn {
  z-index: 4;
}

.rightColumn {
  z-index: 3;
  right: -10px;
}

.mobileImage {
  position: absolute;
  width: 85%;
}

.desktopImage {
  position: absolute;
  width: 100%;
  height: 300px;
}

.imgL2Mobile {
  transform: translateY(50vh);
  width: 80%;
  left: 10px;
}

.imgL2 {
  transform: translateY(50vh);
}

.imgR2 {
  transform: translateY(60vh);
}

@media screen and (max-width: 768px) {
  .imagesWrapper {
    height: 100vh;
  }

  .mobileImage {
    position: absolute;
    max-width: 90%;
    right: 6vw;
  }

  .desktopImage {
    position: absolute;
    max-width: 90%;
    right: 3vw;
  }
}

@media screen and (max-width: 420px) {
  .imagesWrapper {
    height: 60vh;
  }

  .imgL2 {
    transform: translateY(40vh);
  }

  .imgR2 {
    transform: translateY(60vh);
  }

  .mobileImage {
    position: absolute;
    max-width: 90%;
    right: 6vw;
  }

  .desktopImage {
    position: absolute;
    max-width: 90%;
    right: 3vw;
  }
}
