.imagesWrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: visible;
}

.leftColumn,
.rightColumn {
  width: 50%;
  background-color: transparent;
  box-sizing: border-box;
}

.leftColumn {
  z-index: 4;
}

.rightColumn {
  z-index: 3;
}

.leftColumn img,
.rightColumn img {
  position: absolute;
  width: 95%;
}

.rightColumn img {
  right: 25px;
}

.imgL2 {
  transform: translateY(50vh);
}

.imgR2 {
  transform: translateY(90vh);
}

@media screen and (max-width: 768px) {
  .imagesWrapper {
    height: 100vh;
  }

  .leftColumn img {
    left: 25px;
  }
}

@media screen and (max-width: 420px) {
  .imagesWrapper {
    height: 60vh;
  }

  .imgL2 {
    transform: translateY(40vh);
  }

  .imgR2 {
    transform: translateY(60vh);
  }

  .leftColumn img,
  .rightColumn img {
    position: absolute;
    max-width: 90%;
    left: 10px;
  }
}
