.projectListSection{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 40vh;
  overflow: hidden;
}

.imagesWrapper {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .imagesWrapper {
    padding-top: 20vh;
    width: 100%;
  }
}