.wrapper {
  height: 40vh;
  overflow: hidden;
  padding-bottom: 60vh;
}

.title {
  width: 100%;
  font-size: 15vw;
  font-weight: 500;
  text-align: left;
  color: var(--secondary-color);
}

.text {
  position: absolute;
  max-width: 70vw;
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 9.5rem;
  }

  .text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 420px) {
  .title {
    font-size: 7rem;
  }
}
